html, body {
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #eee;
    font-family: Poppins;
    background-image: radial-gradient(at 50% 50%, #000000, #08023d);
    /* background-image: url(space.jpg); */
}
::-webkit-scrollbar{
    width: 0;
}
main .banner{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    /* margin-top: -70px; */
}

.banner{
    position: relative; 
}
.banner #dotsCanvas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}
/* ------------------------------------------- */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#header {
    margin-bottom: 10px;
    z-index: 1000;
}
#header h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 35px;
    margin-bottom: 20px;
    z-index: 1000;
}
#header img {
    height: 50px;
    width: 50px;
    background-color: #000000;
    border-radius: 50%;
    z-index: 1000;
}

form {
    display: flex;
    width: min(300px, 90vw);
    /* gap: 3px; */
    flex-wrap: wrap;
    z-index: 1000;
}

.fas {
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 20px;
}

form input, form button {
    all: unset;
    padding: 10px;
    margin: 5px;
    border-radius: 15px;
    background-color: #1C1C1E;
    box-shadow: 0 10px 30px #0005;
    border: 1px solid #71717188;
    transition: background-image 0.5s, opacity .5s, border .5s;
}

form * {
    width: 100%!important;
}

form input {
    color: #fff;
}

form button {
    cursor: pointer;
}

form button[type="submit"] {
    background-color: #fff;
    color: #1C1C1E;
}

input:invalid:not(:placeholder-shown) {
    border-color: red;
    background-image:  url(checked_red.png);
}
input:valid:not(:placeholder-shown) {
    background-image: url(checked_green.png);
}
input:invalid:not(:placeholder-shown), 
input:valid:not(:placeholder-shown) {
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: calc(100% - 10px);
}
input:invalid:not(:placeholder-shown) + p {
    color: #a20e0e;
}
input:invalid ~ button[type="submit"] {
    opacity: .6;
    pointer-events: none;
}